body {
  background-color: rgb(54, 57, 63);
  color: white;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}

#stationsBox {
  display: flex;
  flex-wrap: wrap;
}

.station {
  width: 500px;
  height: 400px;
  padding: 7px;
  margin: 7px;
  background: rgb(33, 35, 38);
}

.songs {
  position: relative;
  display: flex;
  padding: 5px;
  margin: 0 auto;
  width: 97%;
  max-width: 97%;
  height: 72%;
  background: rgb(47, 49, 54);
  color: white;
  border: none;
}

.stationName {
  font-size: 20px;
}

.stationText {
  padding: 5px;
}

::-webkit-scrollbar {
  display: none;
}
